#container {
    display: flex;
    position: relative;
    overflow-x: auto; /* 가로 스크롤을 추가합니다. */
}

#left {
    min-width: 1335px;
    width: 1500px;
    display: flex;
    flex-direction: column;
    position: relative;
}
#right {
    min-width: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 10px;
}

#select-form{
    margin: 0;
}

#Location_select {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border : 0.5px solid red;
}

select {
    width: 150px;
    height: 35px;
    margin-right: 40px;
    border-radius: 3px;
    border : 0.5px solid black;
}
button {
    width: 150px;
    height: 35px;
    border-radius: 3px;
    background-color: white;
    border : 0.5px solid black;
}

#video {
    height: 700px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    border : 0.5px solid orange;
}

#Log {
    min-width: 500px;
    height: 575px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    border : 0.5px solid green;
}
#Control {
    min-width: 500px;
    height: 160px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    border : 0.5px solid skyblue;
}



/* 테이블 스타일 */

#ControlLog {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

#ControlLog th, #ControlLog td {
    padding: 8px;
    border: 1px solid #ddd;
}

#ControlLog th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
}

#ControlLog tr:nth-child(even) {
    background-color: #f2f2f2;
}

#ControlLog tr:hover {
    background-color: #ddd;
}

.LogNum {
    font-size: 17px;
    text-align: center;
}

/* 신호 제어 */

#TrafficLight {
    width: 500px;
    height: 120px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    background-color: #242424;
}

#RedLight {
    width: 75px;
    height: 75px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    background-color: gray;
    margin-right: 30px;
}

#YellowLight {
    width: 75px;
    height: 75px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    background-color: gray;
    margin-right: 30px;
}

#GreenLight {
    width: 75px;
    height: 75px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    background-color: gray;
    margin-right: 30px;
}

#ConfirmLight {
    width: 75px;
    height: 75px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    background-color: white;
}