#Location_select {
    display: flex;
    width: 1800px;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    justify-content: center;
}

select {
    width: 150px;
    height: 35px;
    margin-right: 40px;
    border-radius: 3px;
    font-size: 20px;
    border : 0.5px solid black;
}

button {
    width: 150px;
    height: 35px;
    border-radius: 3px;
    font-size: 20px;
    background-color: white;
    border : 0.5px solid black;
}

/* 그래프 화면 */
.graph-container {
    width: 1900px;
    display: flex;
    position: relative;
}

.graph{
    margin-top: 40px;
    margin-left: 40px;
    width: 900px;
    height: 300px;
}

/* 시간별 그래프 */
#hour-graph{
    max-width: 900px;
    max-height: 300px;
}

/* 일별 그래프 */
#day-graph{
    max-width: 900px;
    max-height: 300px;
}

/* 주별 그래프 */
#week-graph{
    max-width: 900px;
    max-height: 300px;
}

/* 월별 그래프 */
#month-graph{
    max-width: 900px;
    max-height: 300px;
}
