#menu_box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    width: 400px; height: auto;
    display: inline-block;
    margin: 0 50px 0 50px;
    cursor: pointer;
}
.menu > img{
    transition: 1s width;
    width: 400px;
}
.menu > img:hover{
    width: 450px;
}
.menu:nth-child(2){
    filter: opacity(0.4) drop-shadow(0 0 0 #0011ff);
}
.menu:nth-child(3){
    filter: opacity(0.4) drop-shadow(0 0 0 #fbff00);
}